* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    background-color: #ff6900;
    justify-content: space-around;
    align-items: center;
}

.d-flex {
    display: flex;
}

.boolean-logo {
    height: 27px;
    margin: 16px;
}

.list-style-none {
    list-style: none;
}

.navtxt {
    text-decoration: none;
    color: white;
}

.mx-10 {
    margin: 0px 10px;
}