* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    background-color: #ff6900;
    justify-content: space-around;
    align-items: center;
}

.d-flex {
    display: flex;
}

.boolean-logo {
    height: 27px;
    margin: 16px;
}

.list-style-none {
    list-style: none;
}

.navtxt {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.mx-10 {
    margin: 0px 10px;
}

.card-flex {
    justify-content: center;
    gap: 16px;
    padding-top: 45px;
}

.card-pic {
    max-width: 350px;
}

.price {
    color: red;
}