* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    background-color: #ff6900;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.boolean-logo {
     
}

.list-style-none {
    list-style: none;
}

